.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.level-up {
  font-size: 20px;
  height: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
